

<!DOCTYPE html>
<html>
<head>
    <title>Update User</title>
</head>
<body>
    <h2>Update Data</h2>
{% include "member_form.html" with button_text="Update" %}

    <!-- <h2>Update User Info</h2>
    <form method="POST" action="{%url 'update' member.id %}">
        <label>First Name:</label>
        <input type="text" name="firstname" value="{{ user.firstname }}"><br><br>

        <label>Last Name:</label>
        <input type="text" name="lastname" value="{{ user.lastname }}"><br><br>

        <label>Email:</label>
        <input type="email" name="email" value="{{ user.email }}"><br><br>

        <button type="submit">Update Data</button>
        
    </form> -->
  
</body>
</html>
