<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <!-- Login form -->
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
           

            {% csrf_token %}  <!-- CSRF token for security -->
            
            <!-- Login heading -->
            <h3>Login</h3>
            <hr>

            <!-- Display error/success messages -->
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <!-- Username input field -->
           <div class="form-group">
                 <label for="id_username">Email</label>
                <input type="text" name="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="id_username" value="{{ form.username.value|default:'' }}" placeholder="Enter username">
                    {% for error in form.username.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                </div>

            <!-- Password input field -->
          <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" name="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="id_password" placeholder="Password">
                    {% for error in form.password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

            <!-- Link to registration page -->
            <p>Don't have an account <a href="/register/">Register</a> </p>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>